<%= form_for @comp, html: { multipart: true } do |f| %>
  <% if @comp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comp.errors.count, "error") %> prohibited this comp from being saved:</h2>

      <ul>
      <% @comp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :suite %><br>
    <%= f.text_field :suite %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :start_rate %><br>
    <%= f.text_field :start_rate %>
  </div>
  <div class="field">
    <%= f.label :effective_rate %><br>
    <%= f.text_field :effective_rate %>
  </div>
  <div class="field">
    <%= f.label :opex %><br>
    <%= f.text_field :opex %>
  </div>
  <div class="field">
    <%= f.label :lease_signed %><br>
    <%= f.date_select :lease_signed %>
  </div>
  <div class="field">
    <%= f.label :lease_start %><br>
    <%= f.date_select :lease_start %>
  </div>
  <div class="field">
    <%= f.label :lease_expiration %><br>
    <%= f.date_select :lease_expiration %>
  </div>
  <div class="field">
    <%= f.label :tenant %><br>
    <%= f.text_field :tenant %>
  </div>
  <div class="field">
    <%= f.label :landlord %><br>
    <%= f.text_field :landlord %>
  </div>
  <div class="field">
    <%= f.label :procurring_broker %><br>
    <%= f.text_field :procurring_broker %>
  </div>
  <div class="field">
    <%= f.label :procurring_agent %><br>
    <%= f.text_field :procurring_agent %>
  </div>
  <div class="field">
    <%= f.label :listing_broker %><br>
    <%= f.text_field :listing_broker %>
  </div>
  <div class="field">
    <%= f.label :listing_agent %><br>
    <%= f.text_field :listing_agent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
