
<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <%= render 'layouts/navbarside' %>
          </div>

          <div class="row">
        <div class="col-md-10 col-md-offset-2">

<h1>Lease Comps</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>City</th>
      <th>Address</th>
      <th>Suite</th>
      <th>Size</th>
      <th>Start Rate</th>
      <th>Effective Rate</th>
      <th>Opex</th>
      <th>Lease Signed</th>
      <th>Lease Start</th>
      <th>Lease Expiration</th>
      <th>Tenant</th>
      <th>Landlord</th>
      <th>Procurring Broker</th>
      <th>Procurring Agent</th>
      <th>Listing Broker</th>
      <th>Listing Agent</th>
    </tr>
  </thead>

  <tbody>
    <% @comps.each do |comp| %>
      <tr>
        <td><%= image_tag comp.image.url(:thumb) %></td>
        <td><small><%= comp.city %></small></td>
        <td><small><%= comp.address %></small></td>
        <td><small><%= comp.suite %></small></td>
        <td><small><%= comp.size %></small></td>
        <td><small><%= comp.start_rate %></small></td>
        <td><small><%= comp.effective_rate %></small></td>
        <td><small><%= comp.opex %></small></td>
        <td><small><%= comp.lease_signed %></small></td>
        <td><small><%= comp.lease_start %></small></td>
        <td><small><%= comp.lease_expiration %></small></td>
        <td><small><%= comp.tenant %></small></td>
        <td><small><%= comp.landlord %></small></td>
        <td><small><%= comp.procurring_broker %></small></td>
        <td><small><%= comp.procurring_agent %></small></td>
        <td><small><%= comp.listing_broker %></small></td>
        <td><small><%= comp.listing_agent %></small></td>
        <td><%= link_to 'Show', detail_comp_path %></td>
        <td><%= link_to 'Edit', edit_comp_path(comp) %></td>
        <td><%= link_to 'Destroy', comp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comp', new_comp_path %>
