<div class="container-fluid">
<div class="row">
  <div class="col-md-10 col-md-offset-2">
        <h2 class="page-header"><p><i class="fa fa-building-o fa-2x fa-fw"></i>New Lease Listing</p>
     </div>
   </div>

<div class="row">
  <div class="col-xs-6 col-md-3 col-md-offset-2">
<%= form_for @listing, html: { multipart: true } do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :suite %><br>
    <%= f.text_field :suite %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :building_type %><br>
    <%= f.text_field :building_type %>
  </div>
</div>
  <div class="col-xs-6 col-md-3">
  <div class="field">
    <%= f.label :building_class %><br>
    <%= f.text_field :building_class %>
  </div>
  <div class="field">
    <%= f.label :asking_rate %><br>
    <%= f.text_field :asking_rate %>
  </div>
  <div class="field">
    <%= f.label :opex %><br>
    <%= f.text_field :opex %>
  </div>
  <div class="field">
    <%= f.label :lease_type %><br>
    <%= f.text_field :lease_type %>
  </div>
  <div class="field">
    <%= f.label :brokerage %><br>
    <%= f.text_field :brokerage %>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
   <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class ="row top-buffer">
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
</div>
</div>
</div>