<h1>Lease Listings </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th><%= sort_link @search, :agent, "Agent Name" %></th>
      <th><%= sort_link @search, :city, "City" %></th>
      <th>Address</th>
      <th>Suite</th>
      <th>Size</th>
      <th>Style</th>
      <th>Class</th>
      <th>Lease Type</th>
      <th><%= sort_link @search, :asking_Rate, "Asking Rate" %></th>
      <th>Opex</th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= image_tag listing.image.url(:thumb) %></td>
        <td><small><%= listing.user.name if listing.user %></small></td>
        <td><small><%= listing.city %></small></td>
        <td><small><%= listing.address %></small></td>
        <td><small><%= listing.suite %></small></td>
        <td><small><%= listing.size %></small></td>
        <td><small><%= listing.building_type %></small></td>
        <td><small><%= listing.building_class %></small></td>
        <td><small><%= listing.lease_type %></small></td>
        <td><small><%= listing.asking_rate %></small></td>
        <td><small><%= listing.opex %></small></td>
        <td><%= link_to 'Show', listing %></td>
        <% if listing.user == current_user %>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Lease Listing', new_listing_path %>
<% end %>
