<%= link_to 'Back', listings_path %>


<div class="row">
  <div class="col-md-offset-2 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @listing.image.url(:medium) %>
      </div>
      <div class="panel-body">


        <p>
          <strong>City:</strong>
          <%= @listing.city %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @listing.address %>
        </p>

        <p>
          <strong>Suite #:</strong>
          <%= @listing.suite %>
        </p>

        <p>
          <strong>Size:</strong>
          <%= @listing.size %>
        </p>

        <p>
          <strong>Building Style:</strong>
          <%= @listing.building_type %>
        </p>

        <p>
          <strong>Class:</strong>
          <%= @listing.building_class %>
        </p>

        <p>
          <strong>Asking Rate:</strong>
          <%= @listing.asking_rate %>
        </p>

        <p>
          <strong>Opex:</strong>
          <%= @listing.opex %>
        </p>

        <p>
          <strong>Lease Type:</strong>
          <%= @listing.lease_type %>
        </p>

        <p>
          <strong>Brokerage:</strong>
          <%= @listing.brokerage %>
        </p>

        <p>
          <strong>Notes:</strong>
          <%= @listing.notes %>
        </p>


<% if @listing.user == current_user %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>

        </div>
      </div>
    </div>
  </div>


