
<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <%= render 'layouts/navbarside' %>
          </div>

          <div class="row">
        <div class="col-md-10 col-md-offset-2">

<h1>Sale Comps</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>City</th>
      <th>Address</th>
      <th>Size</th>
      <th>Sale Price</th>
      <th>Cap Rate</th>
      <th>Closing Date</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Building Type</th>
      <th>Building Class</th>
      <th>Sale Type</th>
      <th>Floors</th>
      <th>Buyer Broker</th>
      <th>Buyer Agent</th>
      <th>Listing Broker</th>
      <th>Listing Agent</th>
      <th>Notes</th>

    </tr>
  </thead>

  <tbody>
    <% @scomps.each do |scomp| %>
      <tr>
        <td><%= image_tag scomp.image.url(:thumb) %></td>
        <td><small><%= scomp.city %></small></td>
        <td><small><%= scomp.address %></small></td>
        <td><small><%= scomp.size %></small></td>
        <td><small><%= scomp.sale_price %></small></td>
        <td><small><%= scomp.cap_rate %></small></td>
        <td><small><%= scomp.closing_date %></small></td>
        <td><small><%= scomp.buyer %></small></td>
        <td><small><%= scomp.seller %></small></td>
        <td><small><%= scomp.building_type %></small></td>
        <td><small><%= scomp.building_class %></small></td>
        <td><small><%= scomp.sale_type %></small></td>
        <td><small><%= scomp.floors %></small></td>
        <td><small><%= scomp.buyer_broker %></small></td>
        <td><small><%= scomp.buyer_agent %></small></td>
        <td><small><%= scomp.listing_broker %></small></td>
        <td><small><%= scomp.listing_agent %></small></td>
        <td><small><%= scomp.notes %></small></td>
        <td><%= link_to 'Show', scomp %></td>
        <td><%= link_to 'Edit', edit_scomp_path(scomp) %></td>
        <td><%= link_to 'Destroy', scomp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scomp', new_scomp_path %>
