<h1>Sale Comps</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>City</th>
      <th>Address</th>
      <th>Size</th>
      <th>Sale price</th>
      <th>Cap rate</th>
      <th>Closing date</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Building type</th>
      <th>Building class</th>
      <th>Sale type</th>
      <th>Floors</th>
      <th>Buyer broker</th>
      <th>Buyer agent</th>
      <th>Listing broker</th>
      <th>Listing agent</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scomps.each do |scomp| %>
      <tr>
        <td><%= image_tag scomp.image.url(:thumb) %></td>
        <td><%= scomp.city %></td>
        <td><%= scomp.address %></td>
        <td><%= scomp.size %></td>
        <td><%= scomp.sale_price %></td>
        <td><%= scomp.cap_rate %></td>
        <td><%= scomp.closing_date %></td>
        <td><%= scomp.buyer %></td>
        <td><%= scomp.seller %></td>
        <td><%= scomp.building_type %></td>
        <td><%= scomp.building_class %></td>
        <td><%= scomp.sale_type %></td>
        <td><%= scomp.floors %></td>
        <td><%= scomp.buyer_broker %></td>
        <td><%= scomp.buyer_agent %></td>
        <td><%= scomp.listing_broker %></td>
        <td><%= scomp.listing_agent %></td>
        <td><%= scomp.notes %></td>
        <td><%= link_to 'Show', scomp %></td>
        <td><%= link_to 'Edit', edit_scomp_path(scomp) %></td>
        <td><%= link_to 'Destroy', scomp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scomp', new_scomp_path %>
