<%= link_to 'Back', scomps_path %>


<div class="row">
  <div class="col-md-offset-2 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @scomp.image.url(:medium) %>
      </div>
      <div class="panel-body">

<p>
  <strong>City:</strong>
  <%= @scomp.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @scomp.address %>
</p>

<p>
  <strong>Size:</strong>
  <%= @scomp.size %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @scomp.sale_price %>
</p>

<p>
  <strong>Cap rate:</strong>
  <%= @scomp.cap_rate %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @scomp.closing_date %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @scomp.buyer %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @scomp.seller %>
</p>

<p>
  <strong>Building type:</strong>
  <%= @scomp.building_type %>
</p>

<p>
  <strong>Building class:</strong>
  <%= @scomp.building_class %>
</p>

<p>
  <strong>Sale type:</strong>
  <%= @scomp.sale_type %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @scomp.floors %>
</p>

<p>
  <strong>Buyer broker:</strong>
  <%= @scomp.buyer_broker %>
</p>

<p>
  <strong>Buyer agent:</strong>
  <%= @scomp.buyer_agent %>
</p>

<p>
  <strong>Listing broker:</strong>
  <%= @scomp.listing_broker %>
</p>

<p>
  <strong>Listing agent:</strong>
  <%= @scomp.listing_agent %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @scomp.notes %>
</p>

<% if @scomp.user == current_user %>
<%= link_to 'Edit', edit_scomp_path(@comp) %> |
<% end %>

        </div>
      </div>
    </div>
  </div>