<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @scomp.image.url(:medium) %>
</p>
<p>
  <strong>City:</strong>
  <%= @scomp.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @scomp.address %>
</p>

<p>
  <strong>Size:</strong>
  <%= @scomp.size %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @scomp.sale_price %>
</p>

<p>
  <strong>Cap rate:</strong>
  <%= @scomp.cap_rate %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @scomp.closing_date %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @scomp.buyer %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @scomp.seller %>
</p>

<p>
  <strong>Building type:</strong>
  <%= @scomp.building_type %>
</p>

<p>
  <strong>Building class:</strong>
  <%= @scomp.building_class %>
</p>

<p>
  <strong>Sale type:</strong>
  <%= @scomp.sale_type %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @scomp.floors %>
</p>

<p>
  <strong>Buyer broker:</strong>
  <%= @scomp.buyer_broker %>
</p>

<p>
  <strong>Buyer agent:</strong>
  <%= @scomp.buyer_agent %>
</p>

<p>
  <strong>Listing broker:</strong>
  <%= @scomp.listing_broker %>
</p>

<p>
  <strong>Listing agent:</strong>
  <%= @scomp.listing_agent %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @scomp.notes %>
</p>

<%= link_to 'Edit', edit_scomp_path(@scomp) %> |
<%= link_to 'Back', scomps_path %>
