
<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <ul class="nav nav-sidebar">
            <li><%= link_to "Performance Overview", dashboard_path %></li>
            <li><%= link_to "Pipeline Overview", pipeline_path %></li>
            <li><%= link_to "Search Database", for_lease_path %></li>
            <li><%= link_to "My Listings", my_listings_path %></li>
            <li><%= link_to "Current Deals", current_deals_path %></li>
            <li><a href="#">New Listings</a></li>
            <li><a href="#">New Comps</a></li>
            <li><%= link_to "Transaction History", closed_deals_path %></li>
            <li><a href="#">Accounts Receivable</a></li>
             <li><a href="#">News</a></li>
          </ul>
          </div>
<!-- Dashboard Header -->
<div class="row">
        <div class="col-md-10 col-md-offset-2">
          <h1 class="page-header">Dashboard <button type="button" class="btn btn-u btn-u-green">View Active Deals</button> <button type="button" class="btn btn-u btn-u-green">View Preliminary Deals</button></h1>
        </div>
      </div>

<!-- Panel -->
<div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">YTD Performance</h3>
              </div><!--panel heading-->

                <div class="panel-body">
                  <!--content-->
                  <div class="row">
                  <div class="col-md-8">
                  <h3> Total Commission </h3>
                  <h4> $145,000</h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 58%">
                  Rank #26
                    </div><!--progress bar-->
                  </div><!--progress bar-->
                  <div class="row">
                    <div class="col-md-6">
                      <h3> Total Deals </h3>
                  <h4> 18</h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                  Rank #18
                    </div><!--progress bar-->
                  </div><!--progress bar-->
                </div><!--columnn-->

                  <div class="col-md-6">
                      <h3> Total SF </h3>
                  <h4> 200,300SF</h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                  Rank #15
                    </div><!--progress bar-->
                  </div><!--progress bar-->
                </div><!--columnn-->
              </div><!--row-->
            </div><!--columnn-->

 <div class="col-md-4"> 
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> TOP 10 (Year to Date) </h3>
    </div>
    <div class="panel-body">          
      <table class="table">
   <ol>
    <li><strong> Phil Mahoney </strong></li>
    <li><strong> Mike Saign </strong></li>
    <li><strong> Jeff Rodgers </strong></li>
    <li><strong> Shawn Kellenberger </strong></li>
    <li><strong> Sean Whitney</strong> </li>
    <li><strong> Todd Shaffer </strong></li>
    <li><strong> John Yandle </strong></li>
    <li><strong> Kyle Nelson </strong></li>
    <li><strong> Jeff Arrillaga </strong></li>
    <li><strong> Frank Cox </strong></li>
  </ol>
  </table>
</div> <!--panel-body-->
</div> <!--panel-default-->
</div> <!--column-->
          </div><!--row-->
        </div><!--panel-body-->
      </div><!--panel-default-->
     
     <!-- Panel -->
<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Monthly Performance</h3>
              </div><!--panel heading-->       
                  <div class="panel-body">
                  <!--content-->
                  <div class="row">
                  <div class="col-md-8">
                  <h3> Total Commission </h3>
                  <h4> $65,000.00</h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 93%">
                  Rank #3
                    </div><!--progress bar-->
                  </div><!--progress bar-->
                  <div class="row">
                    <div class="col-md-6">
                      <h3> Total Deals </h3>
                  <h4>2</h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                  Rank #28
                    </div><!--progress bar-->
                  </div><!--progress bar-->
                </div><!--columnn-->

                  <div class="col-md-6">
                      <h3> Total SF </h3>
                  <h4>40,000SF</h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                  Rank #4
                    </div><!--progress bar-->
                  </div><!--progress bar-->
                </div><!--columnn-->
              </div><!--row-->
            </div><!--columnn-->
             <div class="col-md-4"> 
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> TOP 10 (By Month) </h3>
    </div>
    <div class="panel-body">          
      <table class="table">
   <ol>
    <li><strong> Todd Shaffer </strong></li>
    <li><strong> Sean Whitney </strong></li>
    <li><strong> Mike Saign </strong></li>
    <li><strong> Jason Forcier </strong></li>
    <li><strong> Shawn Kellenberger</strong></li>
    <li><strong> Jesse Millman </strong></li>
    <li><strong> Christine Slonek </strong></li>
    <li><strong> Frank Cox </strong></li>
    <li><strong> Tracy Solari </strong></li>
    <li><strong> Derek Yep </strong></li>
  </ol>
  </table>
</div> <!--panel-body-->
</div> <!--panel-default-->
</div> <!--column-->
          </div><!--row-->
        </div><!--panel-body-->
      </div><!--panel-default-->












