<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <ul class="nav nav-sidebar">
            <li><%= link_to "Performance Overview", dashboard_path %></li>
            <li><%= link_to "Pipeline Overview", pipeline_path %></li>
            <li><%= link_to "Search Database", for_lease_path %></li>
            <li><%= link_to "My Listings", my_listings_path %></li>
            <li><%= link_to "Current Deals", current_deals_path %></li>
            <li><a href="#">Recently Closed</a></li>
            <li><a href="#">New Listings</a></li>
            <li><a href="#">New Comps</a></li>
            <li><a href="#">Transcation History</a></li>
            <li><a href="#">Accounts Receivable</a></li>
             <li><a href="#">News</a></li>
          </ul>
          </div>


<div class="row">
	<div class="col-md-offset-2 col-md-6">
			<img src="http://s.lnimg.com/photo/poster/3b53ccdaf93543f6aff154a04a9dfc0d.jpg" width="600" height="300"/>
		</div>

		<div class="col-md-3 col-md-offset-1">
			<div class="panel panel-default">
  				<div class="panel-heading">
    			<h3 class="panel-title">Agent Details</h3>
  				</div>
  					<div class="panel-body">
  						<address>
  <strong>Jason Forcier</strong><br>
  <a href="mailto:#">jforcier@ccareynkf.com</a>
</address>
  						<address>
  <strong>Cornish & Carey Commercial</strong><br>
  2804 Mission College Blvd, Suite 140<br>
  Santa Clara, CA 94107<br>
  <abbr title="Phone">P:</abbr> (408) 987-4193
</address>
<button type="button" class="btn btn-success btn-xs">Schedule Tour</button>
<button type="button" class="btn btn-info btn-xs">Contact Jason</button>
    			
  					</div> <!--Panelbody-->
		</div> <!--Paneldefault-->

		</div> <!--column-->
	</div> <!--row-->

<div class="row top-buffer">
	<div class="col-md-offset-2 col-md-10">
		<div class="well well-sm">
		<div class="row">
	      	<div class="col-md-2">
	        <a href="#">
	          <img src="http://s.lnimg.com/photo/poster/8ed19ecdc3cd4e7781373fb8d2e14258.jpg" width="100" height="100"/>
	      	</a>
	      </div>
	      <div class="col-md-2">
	        <a href="#">
	          <img src="http://s.lnimg.com/photo/poster/6b8c2345eec64516ac68ea00ce75f4e3.jpg" width="100" height="100"/>
	        </a>
	      </div>
	      <div class="col-md-2">
	        <a href="#">
	          <img src="http://s.lnimg.com/photo/poster/c70ba82d3ec144fbb3abbbf79ae3b9ea.jpg" width="100" height="100"/>
	        </a>
	      </div>
	      <div class="col-md-2">
	        <a href="#">
	          <img src="http://s.lnimg.com/photo/poster/5a90ec877dbd420c817ad2e9b45737ea.jpg" width="100" height="100"/>
	        </a>
	      </div>
	      <div class="col-md-2">
	        <a href="#">
	          <img src="http://s.lnimg.com/photo/poster/e061f9f262d74e2798b589a1a808faf0.jpg" width="100" height="100"/>
	        </a>
	      </div>
	      <div class="col-md-2">
	        <a href="#">
	          <img src="http://s.lnimg.com/photo/poster/edb69ea602d9421ba6525298931ce124.jpg" width="100" height="100"/>
	        </a>
	      </div>
	    </div>

</div> <!--column-->
</div> <!--column-->
</div> <!--row-->
</div> <!--row-->

<div class="row top-buffer">
	<div class="col-md-offset-2 col-md-6">
			<h1>800 W. El Camino Real <small>Mountain View</small></h1>
			<div class="row">
				<div class="col-md-4">
				<h3> Suite <small>#100</small></h3>
				</div>
				<div class="col-md-4">
				<h3>5,575 <small>Square Feet</small></h3>
				</div>
				<div class="col-md-4">
				<h3>$6.25 <small>Full Service</small></h3>
				</div>
			</div> <!--rownest-->
			<div class="row top-buffer">
				<div class="col-md-12">
				<div class="panel panel-inverse">
				  <div class="panel-heading">
				    <h3 class="panel-title">Description</h3>
				  </div>
				  <div class="panel-body">
				    Located in the heart of Downtown Mountain View, this center places clients within walking distance of several of the areas most highly regarded restaurants, boutiques and coffee shops. The unique placement puts the building in between commercial and residential areas giving clients the choice between lively downtown Mountain View and any of the areas many parks and recreational facilities. Located near two major highways, this center is ideal for those traveling from anywhere in the Bay Area. The center is near both San Francisco International Airport and San Jose International Airport, making it easier for visiting employees and clients alike.
				  </div> <!--panelbody-->
				</div> <!--panel-default-->
				</div> <!--column-->
			</div> <!--row-->

		</div> <!--column-->
		<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
  				<div class="panel-heading">
    			<h2 class="panel-title">DETAILS</h2>
  				</div>
  			<div class="panel-body">
		    <ul>
		  <li>Downtown Mountain View</li>
		  <li>Close to Caltrain & Amenities</li>
		  <li>Open Creative Floorplan</li>
		  <li>Expansion Capabilities</li>
		  <li>Class A Office</li>
		  <li>3/1000 Parking</li>
		  <li>Security OnSite</li>
		</ul>
	</div>
</div>
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-success">Bookmark</button>
				<button type="button" class="btn btn-success">Email</button>
				<button type="button" class="btn btn-success">Share</button>
				<button type="button" class="btn btn-success">Print</button>
			</div>
			
			
		</div>
	</div>
</div>

</div> <!--column-->
</div><!--row-->



