<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <%= render 'layouts/navbarside' %>
          </div>
<!-- Sidebar Nav -->
<!-- Dashboard Header -->
<div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-2">
          <h2 class="page-header"><p><i class="fa fa-search fa-2x"></i> For Sale</p></h2>
        </div>
      </div>
<!--navtab-->
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-2">
    <ul class="nav nav-tabs">
    <li><%= link_to "For Lease", "for_lease"%></li>
    <li><%= link_to "Lease Comps", "lease_comps"%></li>
    <li class="active"><%= link_to "For Sale", "for_sale"%></li>
    <li><%= link_to "Sale Comps", "sale_comps"%></li>
    <li><%= link_to "Property Directory", "#"%></li>
  </ul> <!--navtabs-->
  </div> <!--column-->
</div> <!--row-->

<!--forleasetabl-->
<div class="row top-buffer">
   <div class="col-xs-12 col-md-10 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Search Buildings For Sale</h3>
      </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-12">

        <%= search_form_for @search do |f| %>

<!-- City Search -->
<div class="row">
  <div class="field-group">
    <div class="col-xs-6 col-md-2">
    <%= f.label :city_cont, "City" %>
    </div><!--column-->
    <div class="col-xs-6 col-md-10">
    <%= f.text_field :city_cont %>
    </div><!--column-->
    </div><!--fieldgroup-->
    </div><!--row-->

 <!-- Address -->
 <div class="row top-buffer">
  <div class="field-group">
    <div class="col-xs-6 col-md-2">
    <%= f.label :address_cont, "Address" %>
    </div><!--column-->
    <div class="col-xs-6 col-md-10">
    <%= f.text_field :address_cont %>
    </div><!--column-->
    </div><!--fieldgroup-->
    </div><!--row-->

  <!-- Building Type -->
  <div class="row top-buffer">
  <div class="field-group">
    <div class="col-xs-6 col-md-2">
    <%= f.label :building_type_cont, "Building Class" %>
    </div><!--column-->
    <div class="col-xs-6 col-md-10">
    <%= f.text_field :building_type_cont %>
    </div><!--column-->
    </div><!--fieldgroup-->
    </div><!--row-->

<!-- Size (sf) -->
<div class="row top-buffer">
  <div class="field-group">
    <div class="col-xs-6 col-md-2">
    <%= f.label :size_gteq, "Minimum Size (sf)" %>
    </div><!--column-->
    <div class="col-xs-6 col-md-2">
    <%= f.text_field :size_gteq %>
    </div><!--column-->
    <div class="col-xs-6 col-md-2">
    <%= f.label :size_lteq, "Maximum Size (sf)" %>
    </div><!--column-->
    <div class="col-xs-6 col-md-2">
    <%= f.text_field :size_lteq %>
    </div><!--column-->
    </div><!--fieldgroup-->
    </div><!--row-->

  <!-- Asking Rate -->
    <div class="row top-buffer">
    <div class="field-group">
      <div class="col-xs-6 col-md-2">
      <%= f.label :price_gteq, "Minimum Price ($)" %>
      </div><!--column-->
      <div class="col-xs-6 col-md-2">
      <%= f.text_field :price_gteq %>
      </div><!--column-->
      <div class="col-xs-6 col-md-2">
      <%= f.label :price_lteq, "Maximum Price ($)" %>
      </div><!--column-->
      <div class="col-xs-6 col-md-2">
      <%= f.text_field :price_lteq %>
      </div><!--column-->
      </div><!--fieldgroup-->
      </div><!--row-->

<!-- Search Button -->
<div class="row">
  <div class="col-xs-6 col-md-6">
  <div class="actions">
    <%= f.submit "Search" %></div>
<% end %>
</div><!--column-->
</div><!--row-->
</div><!--panelbdy-->
</div><!--paneldefault-->
</div><!--column-->
</div><!--row-->