<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <%= render 'layouts/navbarside' %>
          </div><!--column-->
        </div><!--row-->
      </div><!--container-->
<!-- Sidebar Nav -->
<!-- Dashboard Header -->
<div class="row">
        <div class="col-md-10 col-md-offset-2">
          <h2 class="page-header"><p><i class="fa fa-folder-open fa-2x"></i> Current Deals - Listing</p>
          <div class="btn-group">
            <button type="button" class="btn btn-u btn-u-green">Listings</button>
            <button type="button" class="btn btn-u btn-u-green dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Procuring", current_deals_path %></li>
            </ul>
        </div></h2>
        </div>
      </div>
 <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <ul class="nav nav-tabs">
      <li><%= link_to 'Cupertino City Center', ccc_path %></li>
      <li><%= link_to 'Santa Clara Office Center', scc_path %></li>
      <li class="active"><%= link_to 'Great America Towers', gatowers_path %></li>
      <li><button type="button" class="btn btn-u btn-u-green"><i class="fa fa-plus-square fa-fw"></i>Add Listing</button>
    </ul></li>
        </div><!--column-->
  		</div><!--row-->


<div class="row top-buffer">
  <div class="col-md-10 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
      </div><!--panelheading-->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-u btn-u-green"><i class="fa fa-camera fa-fw"></i>Create Report</button>
        </div>
      </div>
        <div class="row top-buffer">
          <div class="col-md-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Partner (If Any)</th>
							<th>Landlord</th>
							<th>Contact</th>
							<th>Building Size</th>
							<th>Vacancy</th>
							<th>Asking Rate</th>
							<th>Opex</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Todd Shaffer</td>
							<td>Prometheus</td>
							<td>John Doe</td>
							<td>100,000sf</td>
							<td>20%</td>
							<td>$5.50NNN</td>
							<td>$1.00</td>
							<td><i class="fa fa-pencil-square-o fa-lg"></i></td>
						</tr>
					</tbody>
				</table>
				</div><!--column-->
			</div><!--row-->
			</div><!--panelbody-->
		</div><!--paneldefault-->
	</div><!--column-->
</div><!--row-->

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active Deals</h3>
      </div><!--panelheading-->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-u btn-u-green"><i class="fa fa-plus-square fa-fw"></i>Add Deal</button>
        </div>
      </div>
        <div class="row top-buffer">
          <div class="col-md-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Tenant</th>
							<th>Broker/Agent</th>
							<th>Suite #</th>
							<th>Size (SF)</th>
							<th>Deal Stage</th>
							<th>Comments/Notes</th>
							<th>Documents</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td>Mozilla, Inc</td>
							<td>Jeff Arrillaga</td>
							<td># 250</td>
							<td>30,000SF</td>
							<td>Second round of proposals</td>
							<td>Reviewing counter proposal </td>
							<td><a href="#">
									<img src="http://img.docstoccdn.com/thumb/orig/123748539.png" width="50" height="50"/>
				            <a href="#">
				            <img src="http://www.execsuitescheyenne.com/public/Floorplan_mezz.jpg" width="50" height="50"/></td></td>
							<td><i class="fa fa-pencil-square-o fa-lg"></i></td>
						</tr>
						<tr>
							<td>Pure Storage, Inc.</td>
							<td>Jeff Rogers</td>
							<td>#400</td>
							<td>9,000sf</td>
							<td>Lease negotiations</td>
							<td>Lease drafted. Sent for review</td>
							<td><a href="#">
									<img src="http://img.docstoccdn.com/thumb/orig/123748539.png" width="50" height="50"/>
				            <a href="#">
				            <img src="http://www.execsuitescheyenne.com/public/Floorplan_mezz.jpg" width="50" height="50"/></td></td>
							<td><i class="fa fa-pencil-square-o fa-lg"></i></td>
						</tr>
					</tbody>
				</table>
				</div><!--column-->
			</div><!--row-->
			</div><!--panelbody-->
		</div><!--paneldefault-->
	</div><!--column-->
</div><!--row-->

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Touring Activity</h3>
      </div><!--panelheading-->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-u btn-u-green"><i class="fa fa-plus-square fa-fw"></i>Add Prospect</button>
        </div>
      </div>
        <div class="row top-buffer">
          <div class="col-md-12">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Tenant</th>
			<th>Broker/Agent</th>
			<th>Requirement</th>
			<th>Timing</th>
			<th>Tour (y/n)</th>
			<th>Tour Date</th>
			<th>Comments/Notes</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<p><h3><strong> Touring Activity </strong></h3></p>

		<tr>
			<td>N/A</td>
			<td>Jason Forcier - Cornish & Carey </td>
			<td>4,000-6,000sf, 3 Conf Rooms and 1 Private</td>
			<td>Q'2 - 2014</td>
			<td>Yes</td>
			<td> 1/15/2014 </td>
			<td>Preliminary Interest</td>
			<td> <i class="fa fa-pencil-square-o fa-lg"></i><i class="fa fa-trash-o fa-lg"></i></td>
		</tr>
		<tr>
			<td>ABC, Inc.</td>
			<td>Mike Connor - CTBT </td>
			<td>10,000-15,000sf, Law firm buildout</td>
			<td>Q'4 - 2014</td>
			<td>Yes</td>
			<td> 1/24/2014 </td>
			<td>Liked suite 400. Expecting proposal from Broker soon.</td>
			<td> <i class="fa fa-pencil-square-o fa-lg"></i><i class="fa fa-trash-o fa-lg"></i></td>
		</tr>
		<tr>
			<td>XYZ, Inc.</td>
			<td>Rich Branning - JLL </td>
			<td>20,000-35,000sf, Tech office layout. Large server room needed</td>
			<td>Q'2 - 2015</td>
			<td>No</td>
			<td> N/A </td>
			<td>Setting up tour for next week</td>
			<td> <i class="fa fa-pencil-square-o fa-lg"></i><i class="fa fa-trash-o fa-lg"></i></td>
		</tr>
	</tbody>
</table>
		</div><!--column-->
			</div><!--row-->
			</div><!--panelbody-->
		</div><!--paneldefault-->
	</div><!--column-->
</div><!--row-->