<div class="row">
  <div class="col-md-12"><%= render 'layouts/nav' %></div>
<div class="row">

  <div class="col-md-6">
    <div class="page-header">
      <h3> New Listings </h3>
    <body>
    </div>
    <img class="pull-left" src="http://img138.imageshack.us/img138/7766/5dnz.png" width="300" height="200"/>
      <table class="table table-condensed">
        <tr>
          <td><strong>Address </strong> </td>
          <td> 2804 Mission College Blvd </td>
        </tr>
        <tr>
          <td><strong> Available SF </strong> </td>
          <td> 10,500 SF </td>
        <tr>
          <td><strong> Asking Rate </strong> </td>
          <td> $2.50 Full Service </td>
        </tr>
        <tr>
          <td><strong> Notes </strong> </td>
          <td> Class A office. Creative Interiors. Availabe Q'1-14 </td>
        </tr>
      </table>

  </div>



  <div class="col-md-6">
    <div class="page-header">
      <h3> New Comps </h3>
    </div>
<img class="pull-left" src="http://www.rofo.com/content/buildings/128091/standard_0828ecbbdcb9743d18546686fed50b8c.jpg" width="300" height="200"/>

  <table class="table table-condensed">
        <tr>
          <td><strong>Address </strong> </td>
          <td> 2804 Mission College Blvd </td>
          <td><strong> Tenant </strong> </td>
          <td> DICE </td>
          <td><strong> Owner </strong> </td>
          <td> Rubicon Partners </td>
        </tr>
        <tr>
          <td><strong> Size (SF) </strong> </td>
          <td> 7,500 SF </td>
          <td><strong> Lease Rate </strong> </td>
          <td> $2.28 Full Service </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Term </strong> </td>
          <td> 36 Months </td>
          <td><strong> Occupancy Date </strong> </td>
          <td> 10/1/13 </td>
          <td><strong> Expiration Date </strong> </td>
          <td> 9/31/16 </td>
        </tr>

    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3> Commercial Real Estate Headlines </h3>
 </div>

 <div class="row">
  <div class="col-md-12">

<ul class="nav nav-tabs">
  <li class="active">
    <li><%= link_to "Local News", local_path %></li>
    <li><%= link_to "Regional News", regional_path %></li>
    <li><%= link_to "National News", national_path %></li>
    <li><%= link_to "International News", international_path %></li>
</ul>
</div>


<div class="container">
  <div class="col-md-8">
  <div class="row top-buffer">
  <div clas="media">
      <div class="media-body">
        <h4 class="media-heading"><a href="#">  Zynga Leases HQ </h4></a>
        <p> The SoMa gaming company, which has struggled since its 2011 IPO, is leasing 100,000 square feet of the headquarters building it owns at 650 Townsend St. to Practice Fusion.
        </p>
      
      </div>
  <div class="media-body">
        <h4 class="media-heading"><a href="#"> New Hotel on its way to Mission Bay </h4></a>
          
        <p> Private development group SOMA Hotel has purchased a portion of the Block 1 Mission Bay development from Strada Investment group to build out the hotel portion of the property, which is fully entitled and includes plans for 350 residential units and 25,000 square feet of retail.
        </p>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="#">  San Franciso leasing off to hottest start since 2000 </h4></a>
          
        <p> The first quarter of 2014 could be San Francisco’s busiest three months of office leasing since the height of the dot-com bubble 14 years ago.
        </p>
      </div>

    </div>
  </div>
</div>