<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <ul class="nav nav-sidebar">
            <li><%= link_to "Performance Overview", dashboard_path %></li>
            <li><%= link_to "Pipeline Overview", pipeline_path %></li>
            <li><%= link_to "Search Database", for_lease_path %></li>
            <li><%= link_to "My Listings", my_listings_path %></li>
            <li><%= link_to "Current Deals", current_deals_path %></li>
            <li><%= link_to "New Listings", new_listings_path %></li>
            <li><%= link_to "New Comps", new_comps_path %></li>
            <li><%= link_to "Transaction History", closed_deals_path %></li>
            <li><a href="#">Accounts Receivable</a></li>
             <li><a href="#">News</a></li>
          </ul>
          </div>

<div class="row">
        <div class="col-md-10 col-md-offset-2">
          <h1 class="page-header">New Comps </h1>
        </div>
      </div>

<div class="row top-buffer">
  <div class="col-md-offset-2 col-md-10">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h3>1234 Main Street #100 <small>Mountain View</small> <button type="button" class="btn btn-success btn-xs">View Comp</button></h3>
  </div>
  <div class="panel-body">
   <div class="row">
    <div class="col-md-5">
      <img src="http://s.lnimg.com/photo/poster/3b53ccdaf93543f6aff154a04a9dfc0d.jpg" width="400" height="200"/>
    </div><!--column-->
    <div class="row">
      <div class="col-md-6">
      <div class="row">
       <div class="col-md-5">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><h5><small>Tenant</small></h5></td>
              <td><h6>StartX</h6></td>
            </tr>
            <tr>
              <td><h5><small>Landlord</small></h5></td>
              <td><h6>Jay Paul</h6></td>
            </tr>
            <tr>
              <td><h5><small>Size (sf)</small></h5></td>
              <td><h6>10,000sf</h6></td>
            </tr>
            <tr>
              <td><h5><small>Avg Rate</small></h5></td>
              <td><h6>$6.25 FS</h6></td>
            </tr>
            <tr>
              <td><h5><small>Term</small></h5></td>
              <td><h6>60 Months</h6></td>
          </tbody>

        </table>
      </div><!--column-->
              <div class="col-md-7">
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h3 class="panel-title">Dealmakers</h3>
                  </div>
                    <div class="panel-body">
                      <table class="table table-condensed">
                        <thead>
                          <tr>
                            <td><h5><small>Procuring</small></h5></td>
                            <td><h6>Cornish & Carey</h6></td>
                            <td><h5><small>Listing</small></h5></td>
                            <td><h6>CBRE</h6></td>
                          </tr>
                        </thead>
                            <thead>
                          <tr>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Jason Forcier</h6></td>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Jeff Houston</h6></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Sean Whitney</h6></td>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Vincent Scott</h6></td>
                          </tr>
                        </tbody>
                      </table>
                      
                  
              </div> <!--Panelbody-->
          </div> <!--Paneldefault-->

      </div><!--column-->
    </div><!--row-->
  </div><!--column-->
 </div><!--row-->
</div><!--panel-->
</div><!--column-->
</div><!--row-->
</div><!--container-->
</div>

<div class="row top-buffer">
  <div class="col-md-offset-2 col-md-10">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h3>1234 Main Street #100 <small>Mountain View</small> <button type="button" class="btn btn-success btn-xs">View Comp</button></h3>
  </div>
  <div class="panel-body">
   <div class="row">
    <div class="col-md-5">
      <img src="http://s.lnimg.com/photo/poster/3b53ccdaf93543f6aff154a04a9dfc0d.jpg" width="400" height="200"/>
    </div><!--column-->
    <div class="row">
      <div class="col-md-6">
      <div class="row">
       <div class="col-md-5">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><h5><small>Tenant</small></h5></td>
              <td><h6>StartX</h6></td>
            </tr>
            <tr>
              <td><h5><small>Landlord</small></h5></td>
              <td><h6>Jay Paul</h6></td>
            </tr>
            <tr>
              <td><h5><small>Size (sf)</small></h5></td>
              <td><h6>10,000sf</h6></td>
            </tr>
            <tr>
              <td><h5><small>Avg Rate</small></h5></td>
              <td><h6>$6.25 FS</h6></td>
            </tr>
            <tr>
              <td><h5><small>Term</small></h5></td>
              <td><h6>60 Months</h6></td>
          </tbody>

        </table>
      </div><!--column-->
              <div class="col-md-7">
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h3 class="panel-title">Dealmakers</h3>
                  </div>
                    <div class="panel-body">
                     <table class="table table-condensed">
                        <thead>
                          <tr>
                            <td><h5><small>Procuring</small></h5></td>
                            <td><h6>Cornish & Carey</h6></td>
                            <td><h5><small>Listing</small></h5></td>
                            <td><h6>CBRE</h6></td>
                          </tr>
                        </thead>
                            <thead>
                          <tr>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Jason Forcier</h6></td>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Jeff Houston</h6></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Sean Whitney</h6></td>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Vincent Scott</h6></td>
                          </tr>
                        </tbody>
                      </table>
                  
              </div> <!--Panelbody-->
          </div> <!--Paneldefault-->

      </div><!--column-->
    </div><!--row-->
  </div><!--column-->
 </div><!--row-->
</div><!--panel-->
</div><!--column-->
</div>
</div>
</div>

<div class="row top-buffer">
  <div class="col-md-offset-2 col-md-10">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h3>1234 Main Street #100 <small>Mountain View</small> <button type="button" class="btn btn-success btn-xs">View Comp</button></h3>
  </div>
  <div class="panel-body">
   <div class="row">
    <div class="col-md-5">
      <img src="http://s.lnimg.com/photo/poster/3b53ccdaf93543f6aff154a04a9dfc0d.jpg" width="400" height="200"/>
    </div><!--column-->
    <div class="row">
      <div class="col-md-6">
      <div class="row">
       <div class="col-md-5">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><h5><small>Tenant</small></h5></td>
              <td><h6>StartX</h6></td>
            </tr>
            <tr>
              <td><h5><small>Landlord</small></h5></td>
              <td><h6>Jay Paul</h6></td>
            </tr>
            <tr>
              <td><h5><small>Size (sf)</small></h5></td>
              <td><h6>10,000sf</h6></td>
            </tr>
            <tr>
              <td><h5><small>Avg Rate</small></h5></td>
              <td><h6>$6.25 FS</h6></td>
            </tr>
            <tr>
              <td><h5><small>Term</small></h5></td>
              <td><h6>60 Months</h6></td>
          </tbody>

        </table>
      </div><!--column-->
              <div class="col-md-7">
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h3 class="panel-title">Dealmakers</h3>
                  </div>
                    <div class="panel-body">
                      <table class="table table-condensed">
                      <thead>
                          <tr>
                            <td><h5><small>Procuring</small></h5></td>
                            <td><h6>Cornish & Carey</h6></td>
                            <td><h5><small>Listing</small></h5></td>
                            <td><h6>CBRE</h6></td>
                          </tr>
                        </thead>
                            <thead>
                          <tr>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Jason Forcier</h6></td>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Jeff Houston</h6></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Sean Whitney</h6></td>
                            <td><h5><small>Agent</small></h5></td>
                            <td><h6>Vincent Scott</h6></td>
                          </tr>
                        </tbody>
                      </table>
              </div> <!--Panelbody-->
          </div> <!--Paneldefault-->

      </div><!--column-->
    </div><!--row-->
  </div><!--column-->
 </div><!--row-->
</div><!--panel-->
</div><!--column-->
</div>
</div>
</div>

