<%= render 'layouts/nav' %>
<%= render 'layouts/deals' %>

<div class="row top-buffer">
	<div class="container">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Current Landlord Rep Deals</h3>
				</div>
			<div class="panel-body">

		<ul class="nav nav-tabs">
			<p><strong>Property Name (Click on Address to Open)</strong></p>
			<li><%= link_to 'Cupertino City Center', ccc_path %></li>
			<li class="active"><%= link_to 'Santa Clara Office Center', scc_path %></li>
			<li><%= link_to 'Great America Towers', gatowers_path %></li>
		</ul>
		<table class="table table-hover">
	<thead>
		<tr>
			<th>Partner (If Any)</th>
			<th>Landlord</th>
			<th>Contact</th>
			<th>Building Size</th>
			<th>Vacancy</th>
			<th>Asking Rate</th>
			<th>Opex</th>
		</tr>
	</thead>
	<tbody>
		<p><h3><strong>Overview</strong>
			<button type="button" class="btn btn-primary btn-sm">Create Report</button>
		</h3></p>

		<tr>
			<td>Todd Shaffer</td>
			<td>Prometheus</td>
			<td>John Doe</td>
			<td>100,000sf</td>
			<td>20%</td>
			<td>$5.50NNN</td>
			<td>$1.00</td>
			
		</tr>
	</tbody>
</table>

		<p><h3><strong>Pending Deals</strong></h3></p>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Tenant</th>
			<th>Broker/Agent</th>
			<th>Suite #</th>
			<th>Size (SF)</th>
			<th>Deal Stage</th>
			<th>Comments/Notes</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td>Mozilla, Inc</td>
			<td>Jeff Arrillaga</td>
			<td># 250</td>
			<td>30,000SF</td>
			<td>Second round of proposals</td>
			<td>Reviewing counter proposal </td>
			<td><button type="button" class="btn btn-warning btn-xs">Update</button></td>
		</tr>
		<tr>
			<td>Pure Storage, Inc.</td>
			<td>Jeff Rogers</td>
			<td>#400</td>
			<td>9,000sf</td>
			<td>Lease negotiations</td>
			<td>Lease drafted. Sent for review</td>
			<td><button type="button" class="btn btn-warning btn-xs">Update</button></td>
		</tr>
	</tbody>
</table>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Tenant</th>
			<th>Broker/Agent</th>
			<th>Requirement</th>
			<th>Timing</th>
			<th>Tour (y/n)</th>
			<th>Tour Date</th>
			<th>Comments/Notes</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<p><h3><strong> Touring Activity </strong></h3></p>

		<tr>
			<td>N/A</td>
			<td>Jason Forcier - Cornish & Carey </td>
			<td>4,000-6,000sf, 3 Conf Rooms and 1 Private</td>
			<td>Q'2 - 2014</td>
			<td>Yes</td>
			<td> 1/15/2014 </td>
			<td>Preliminary Interest</td>
			<td><button type="button" class="btn btn-warning btn-xs">Update</button></td>
		</tr>
		<tr>
			<td>ABC, Inc.</td>
			<td>Mike Connor - CTBT </td>
			<td>10,000-15,000sf, Law firm buildout</td>
			<td>Q'4 - 2014</td>
			<td>Yes</td>
			<td> 1/24/2014 </td>
			<td>Liked suite 400. Expecting proposal from Broker soon.</td>
			<td><button type="button" class="btn btn-warning btn-xs">Update</button></td>
		</tr>
		<tr>
			<td>XYZ, Inc.</td>
			<td>Rich Branning - JLL </td>
			<td>20,000-35,000sf, Tech office layout. Large server room needed</td>
			<td>Q'2 - 2015</td>
			<td>No</td>
			<td> N/A </td>
			<td>Setting up tour for next week</td>
			<td><button type="button" class="btn btn-warning btn-xs">Update</button></td>
		</tr>
	</tbody>
</table>