	<ul class="nav nav-pills">
		<li><%= link_to "For Lease", "for_lease"%></li>
		<li><%= link_to "Lease Comps", "lease_comps"%></li>
		<li><%= link_to "For Sale", "for_sale"%></li>
		<li><%= link_to "Sale Comps", "sale_comps"%></li>
		<li><%= link_to "Property Directory", "property_directory"%></li>
	</ul>