<ul class="nav nav-stacked">
            <li><p><i class="fa fa-search fa-lg fa-fw"></i><%= link_to "Search Database", for_lease_path %></p></li>
            <li><p><i class="fa fa-tachometer fa-lg fa-fw"></i> <%= link_to "Dashboard", dashboard_path %> </p></li>
            <li><p><i class="fa fa-bullseye fa-lg fa-fw"></i><%= link_to "Pipeline", pipeline_path %></p></li>
            <li><p><i class="fa fa-building-o fa-lg fa-fw"></i><%= link_to "My Listings", my_listings_path %></p></li>
            <li><p><i class="fa fa-folder-open fa-lg fa-fw"></i><%= link_to "Current Deals", current_deals_path %></p></li>
            <li><p><i class="fa fa-star fa-lg fa-fw"></i><%= link_to "New Listings", new_listings_path %></p></li>
            <li><p><i class="fa fa-star fa-lg fa-fw"></i><%= link_to "New Comps", new_comps_path %></p></li>
            <li><p><i class="fa fa-archive fa-lg fa-fw"></i><%= link_to "Transaction History", closed_deals_path %></p></li>
            <li><p><i class="fa fa-usd fa-lg fa-fw"></i><%= link_to "Accounts Receivable", accounts_receivable_path %></p></li>
          </ul>